body {
    
    color: #000000;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 12pt;
    line-height: 1.5;
    font-size:100%
}


.container {   
    margin: auto;
    width:950px;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size:100%;
}


.header{
    background:#222222;
    min-height: 3em;
    color: #FFFFFF;
    border-bottom: 10px solid #D2C9BF;
    
}

.primary-navigation ul{
    float:right;
    font-size:12px;
    font-weight:normal;
}


.primary-navigation ul li{
    list-style-type: none;
    display:inline-block;
    text-align: right;    
}

 .logo{
    float:left;
    width:65%;
    font-weight:bold;
    font-size:25px;
    padding-left: 10px;
   
}

 .primary-navigation ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

 .primary-navigation ul li a:hover{
    text-decoration: underline;
    color: #FFFFFF;
}

.content{
    margin-top:1em;
    min-height: 510px;
    font-size:90%;
    color:#222;
    background:#fff;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}

.footer{
    margin-top: 1em;
    border-top: 5px solid #D2C9BF;
    background: black;
    font-size:12px;    
}

.footer .primary-navigation{
    float:right;
}

input[type = 'text'], input[type='password']{
    height:2em;
}

.flash-notice{
    background:#D2C9BF;
    color: green;
    padding:5px;
    width: 90%;
     -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
     text-align:center;
     margin-top:1em;
     margin-bottom:1em;
}

.flash-error{
    margin-top:1em;
    margin-bottom:1em;
    background:#D2C9BF;
    color: red;
    padding:5px;
    width: 98%;
     -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
     text-align:center;
}

.shadow{
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
}

.new-form{

	  background: url("/images/yellow-bg.jpg");
	  padding:20px;
	
}

.medium{
	width:500px;
	margin:auto;	
	margin-top:1em;
}

.field_with_errors input{
  border: 1px solid red;
}

.field_with_errors label{
  color:red;
}