<% content_for :title do %>Home<% end  %>

<div class="left-content">
  <h2> Firebird</h2>
  <p>
    Firebird is a multi user chat utility that allows distributed development
    teams to collaborate on projects. It allows developers to chat.
  </p>

  <p> <%= link_to "Login", "", :class => 'round' %></p>
</div>

<div class="right-content">
  <%= render "users/signup_form" %>
</div>




<style>
  .left-content{
    width:63%;
    display:inline-block;
    float:left;
}

.right-content{
  display:inline-block;
  padding-left:60px;
  width:30%;
}

.signup-form{
  background: url("/images/yellow-bg.jpg");
  padding:20px;
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);

  
}
</style>